.leftImg {
  left: 0% !important;
  height: 100% !important;
  width: initial !important;
  filter: saturate(80%);
}

.delete {
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.tz {transition: opacity ease 0.5s}
.dragged {opacity: 0.7}