.welcome>div>div>div {
  padding: 10px;
}
.screenshot {
  padding: 30px;
}
.leftImg {
  left: 0% !important;
  width: 100% !important;
  filter: saturate(80%);
  flex: 1 1 auto !important;
  object-fit: cover !important;
}

.delete {
  position: absolute;
  right: 10%;
  top: 5%;
  z-index: 99;
  opacity: 0;
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
  transition: opacity ease 0.3s !important;
}
.tz:hover .delete {
  opacity: 0.7;
}
.delete:hover {
  opacity: 1 !important;
  transition: opacity ease 0.1s !important;
}
.tz:active .delete {opacity: 0}
.tz>.header {
  flex: 0 0 auto !important;
  height: 230px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tz {
  transition: opacity ease 0.5s;
  min-width: 300px;
  display: flex !important;
  flex-flow: column !important;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tz:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tz.dragged,.tz.pulsed {opacity: 0.7}

.tz>div:not(.delete) {
  top: 30px !important;
  bottom: initial !important;
}
.tz>div:not(.delete)>div {
  overflow: initial !important;
}
.tz>div:not(.delete)>div>div:nth-child(2) {
  position: absolute;
  overflow: initial !important;
}
.city {
  margin-top: 0vh;
  font-size: 26px;
}
.subtitle {
  padding-left: 0vw;
}
.time {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.offset {
  font-size: 18px;
}
#root>div>div {
	width: 100%;
}
.col0 {background-color: #1a237e !important}
.col1 {background-color: #880e4f !important}
.col2 {background-color: #b71c1c !important}
.col3 {background-color: #004d40 !important}

@media(max-width: 600px) {
  #gridList>div {
    min-width: 300px;
  }
}