.fabWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 50%;
}
.fabWrapper>div>p {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s linear;
}
.add>button>div>div {
  transition: transform 0.5s ease-in-out;
}
.add>button>div>div:hover>svg {
  transform: rotate(180deg);
}
.add:hover~p {
  visibility: visible;
  opacity: 0.6;
}