.fabWrapper {
  width: 200px;
  left: 0px;
  text-align: left;
  top: 50%;
}
.fabWrapper>.add.education {
  animation: 0.5s ease-in-out 0s 1 pulse;
}
.fabWrapper, .inputWrapper {
  position: relative;
  top: 100px;
}
.inputWrapper {
  padding: 20px;
  min-width: 300px;
}
.fabWrapper>p {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s linear;
}
.inputWrapper>div>div {
  display: block !important;
}
.add {
  margin-left: 30px !important;
}
.add>button>div>div {
  transition: transform 0.5s ease-in-out;
}
.add>button>div>div:hover>svg {
  transform: rotate(180deg);
}
.add:hover~p {
  visibility: visible;
  opacity: 0.6;
}
div.autocomplete {
  font-size: 36px !important;
}
.gridList>div:last-child {
  width: 100px !important;
}
.instructions {
  text-align: left;
  font-size: 24px;
  margin-left: 15px;
  width: 100%;
}
.arrow {
  opacity: 0.7;
  margin-left: 24px;
  margin-top: 5px;
  width: 32px !important;
  height: 40px !important;
  animation: 0.5s ease-in-out 0s 2 bounce;
}

@keyframes pulse {
  from {transform: scale3d(1, 1, 1)}
  50% {transform: scale3d(1.15, 1.15, 1.15)}
  to {transform: scale3d(1, 1, 1)}
}
@keyframes bounce {
  from {margin-top: 10px}
  50% {margin-top: 0px}
  to {margin-top: 10px}
}